@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");

@font-face {
  font-family: "Voyage";

  src: url("./Voyage-Regular.eot?#iefix") format("embedded-opentype"),
    /* url("Voyage-Regular.eot"), */
    url("./Voyage-Regular.woff2") format("woff2"),
    url("./Voyage-Regular.woff") format("woff"),
    url("./Voyage-Regular.ttf") format("truetype"),
    url("./Voyage-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Voyage";

  src: url("./Voyage-Bold.eot?#iefix") format("embedded-opentype"),
    /* url("Voyage-Bold.eot"), */
    url("./Voyage-Bold.woff2") format("woff2"),
    url("./Voyage-Bold.ttf") format("truetype"),
    url("./Voyage-Bold.woff") format("woff"),
     url("./Voyage-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
