@media screen and (min-width: 2560px) {
  .pad-x {
    padding-left: 11.75rem !important;
    padding-right: 11.75rem !important;
  }

  .title .col-lg-6:nth-child(1) {
    padding-left: 11.75rem !important;
    padding-right: 10rem !important;
  }

  .talks-types .row h3:nth-child(3) {
    border: none !important;
  }

  .talks {
    .talks-types .row h3:nth-child(2) {
      border-right: 1px solid var(--green) !important;
    }
  }

  .speakers .speakers-new {
    padding-left: 11rem;
  }
  .speakers .nft-ex {
    padding-left: 11rem;
  }
  .ticket {
    .title-container {
      h2 {
        font-family: var(--voyage);
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 125%;
        color: #00ff00;
      }
      h1 {
        font-family: var(--voyage);
        font-weight: 700;
        line-height: 125%;
        color: #00ff00;
      }
      h1:nth-child(2) {
        font-size: 5.5rem;
      }
      h1:nth-child(3) {
        font-size: 4.5rem;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .talks-types .row h3:nth-child(2) {
    border-right: 1px solid var(--green);
  }

  .pad-x {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
  }

  .talks .col-lg-10 .talks-date h1 span {
    font-size: 5.4rem;
  }
  .title .col-lg-6:nth-child(1) {
    padding-left: 6.5rem;
    padding-right: 1rem;

    .title-content {
      h1 {
        font-size: 6.5rem;
      }
    }
  }

  .talks .col-lg-10 .talks-date {
    h1 {
      font-size: 7rem;
    }
    p {
      font-size: 2rem;
    }
  }
  .talks .col-lg-10 .talks-types .row h3 {
    font-size: 3rem;
  }

  .talks .col-lg-10 button h3 {
    font-size: 3rem;
  }

  .what .col-lg-6:nth-child(1) .what-title h1 {
    font-size: 4.5rem;
  }

  .title-dbw {
    font-size: 4.5rem;
  }

  .sponsors h3 {
    font-size: 3rem;
  }

  .team .member {
    h1 {
      font-size: 2.5rem !important;
    }
    p {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .talks-types .row h3:nth-child(2) {
    border: none !important;
  }

  .nft-ex .col-lg-2:nth-last-child(2) {
    margin-right: 2rem;
  }
  .speakers .speakers-new .speaker .speaker-img-wrapper {
    max-width: 175px !important;
  }
  .speakers .speakers-new .speaker p {
    font-size: 1.5rem !important;
  }
  .speakers .speakers-new .speaker h1 {
    font-size: 1.5rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .hideDesktop {
    display: none !important;
  }

  footer .row .footer-links a {
    margin: 0 0.8rem;
  }

  .speakers .speakers-new .speaker .speaker-img-wrapper {
    max-width: 232px;
  }
  .speakers .speakers-new .speaker h1 {
    font-size: 2rem;
  }
  .speakers .speakers-new .speaker p {
    font-size: 2rem;
  }

  .speakers .speakers-new .speaker {
    margin-top: 3rem;
  }
  .speakers .speakers-new .row:nth-child(2) {
    margin-top: 0rem;
  }
  .sponsors .anon .col-md-3:nth-child(4) {
    border: none;
  }

  .anon .col-md-3:nth-child(5) {
    border-right: 1px solid var(--green) !important;
  }

  .talks-page .rooms .greenrow {
    
    padding: 1.5rem 2.5rem;
  }

  .talks-page .rooms .schedule-program .programrow {
    padding: 2.25rem 2.5rem;
  }

  .talks-page .rooms .schedule-program .programrow .col p {
    line-height: 21.42px;
    max-inline-size: 85%;
  }
  .partners .partners-content {
    padding: 0 4rem;
  }
  .partners .partners-content .cols div img {
    max-width: 143px;
  }
}

@media only screen and (min-width: 819px) and (max-width: 1180px) {
  .hideDesktop {
    display: inline;
  }
  .hideMobile {
    display: none;
  }
  .ipad-margin-top {
    margin-top: 20px;
  }
  .displayIpad {
    display: inline !important;
  }
  .ticket {
    .ticket-card {
      height: auto;
      .ticket-details {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hideIpad {
    display: none !important;
  }
  .hideDesktop {
    display: inline;
  }

  .title-dbw {
    font-size: 4rem;
  }

  .navbar {
    display: none;
  }

  .talks-types .row h3:nth-child(3) {
    border: none !important;
  }

  .marquee {
    border-bottom: 1px solid #00ff00;
    border-top: 1px solid #00ff00;
  }

  .talks {
    .col-lg-1:nth-child(1) {
      border-right: none !important;
      h3 {
        transform: none !important;
      }
    }
  }

  .partners .partners-content {
    padding: 0 4rem;

    .col-6 div img {
      max-width: 177px;
    }
  }


  footer {
    margin-top: 3.5rem;
    .row {
      flex-direction: column;
      align-content: flex-start;
      text-align: start;

      .col-lg-3,
      .col-lg-6 {
        padding-left: 0;
      }

      .footer-links {
        flex-direction: column;
        margin: 5.5rem 0;

        a {
          margin: 0;
          margin: 1rem 0;
        }
      }

      .footer-social {
        justify-content: flex-start;

        svg {
          margin: 0;
        }

        a {
          margin-right: 2rem;
        }
      }
    }
  }

  .title {
    padding-top: 1rem;
    .row {
      flex-direction: column-reverse;

      .col-lg-6:nth-child(2) {
        img {
          max-width: 100%;
        }
      }

      .col-lg-6:nth-child(1) {
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
        .title-content {
          margin: 3rem 0;
          margin-top: 0;

          h1 {
            font-size: 5rem;
          }
          p {
            font-size: 1rem;
            padding-right: 2rem;
          }
          button {
            width: 100%;
            padding: 1rem 0rem;
          }
        }
      }
    }
  }

  .talks {
    .col-lg-1 {
      writing-mode: horizontal-tb;
      border-bottom: 1px solid var(--green);
      padding: 2rem 0;
    }
    .col-lg-10 {
      border: none;
      .talks-date {
        h1 {
          font-size: 4.5rem;
        }
      }
    }
  }

  .what {
    .hideDesktop {
      padding: 0;

      img {
        width: 100%;
        object-fit: cover;
        /* aspect-ratio: 2/1; */
        border-bottom: 1px solid var(--green);
      }
    }

    .row {
      flex-direction: column-reverse;

      .col-lg-6:nth-child(1) {
        padding: 3.5rem 0;
        border: none;

        .what-title {
          padding-bottom: 1.5rem;
          h1:nth-child(1) {
            margin-top: 0;
          }
        }
      }

      .col-lg-6:nth-child(2) {
        img {
          width: 100%;
          object-fit: cover;
          /* aspect-ratio: 2/1; */
          border-bottom: 1px solid var(--green);
        }
      }
    }
  }

  .speakers .speakers-new .speaker .speaker-img-wrapper {
    max-width: 317px;
  }
  .speakers .speakers-new .speaker h1 {
    font-size: 2.5rem;
  }
  .speakers .speakers-new .speaker p {
    font-size: 2rem;
  }

  .speakers .speakers-new .speaker .tw-handle {
    margin-bottom: 3.25rem;
  }

  .speakers .speakers-new .row:nth-child(3) {
    margin-top: 3rem;
    display: none;
  }

  .speakers .new-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sponsors {
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 3.5rem 2.813rem;
    border-top: 1px solid var(--green);
    /* border-bottom: 1px solid var(--green); */

    .container-fluid {
      padding: 0;

      h3 {
        font-size: 3rem;
      }

      .row {
        flex-direction: row;
      }
      .rare {
        .col-6 {
          margin: 1rem 0;

          width: 50%;

          svg {
            width: auto;
            height: 80%;
          }
          img {
            width: 80%;
            height: auto;
          }
        }
      }

      .epic {
        flex-direction: row !important;

        .col-sm-p:nth-child(4) {
          border-right: 1px solid var(--green);
        }
        .col-sm-p {
          margin: 1rem 0;
          /* border: none; */
          /* padding: 0 4rem; */
          padding: 0 !important;
          width: 33%;

          div {
            max-width: 80%;
            height: auto;
            margin: auto;
          }

          svg {
            width: auto;
            height: 80%;
          }
        }
        .col-sm-p:nth-child(3),
        .col-sm-p:nth-child(6) {
          border: none;
        }
      }

      .anon-wrapper {
        display: flex;
        justify-content: space-around;

        h1 {
          font-size: 3rem;
        }

        .row {
          flex-direction: column;
          width: 50%;

          .col {
            margin: 1rem 0;
          }
          .col:nth-last-child(1) {
            border-right: 1px solid var(--green);
          }
        }
        .row:nth-child(2) {
          .col {
            border: none;
          }
        }
      }
    }
  }

  .sponsors .anon .col-md-3:nth-child(4) {
    border: none;
  }
  .anon .col-md-3:nth-child(5) {
    border-right: 1px solid var(--green) !important;
  }

  .team-swiper {
    .container-fluid {
      padding: 0;

      h1 {
        padding-left: 3.5rem !important;
        padding: 3.5rem 0;
      }
    }
    .swiper-slide {
      /*  width: fit-content !important; */
      padding-bottom: 3.5rem;

      .member {
        width: 30vw;
        margin-left: auto;
        margin-right: auto;

        h1 {
          margin-left: 0;
          padding: 1rem 0 0.5rem 0 !important;
        }

        .member-ph {
          width: fit-content;
          margin-top: 1rem;

          .ph-quad {
            top: -6px;
            width: 100%;
          }
        }
      }
    }

    .swiper-btn-wrapper button {
      margin: 0 0.93rem;
    }
  }

  .team .member {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-open-social {
    display: none !important;
  }
  .btn-back {
    position: absolute;
    left: 15px;
    bottom: 15px;
    .square {
      padding: 12px 16px;
    }
  }
  .buy-button {
    .account,
    .cta,
    p {
      font-size: 1rem;
    }
    a {
      h5 {
        font-size: 1.2rem;
      }
    }
    h5 {
      font-size: 1.5rem;
    }
    .success-section {
      padding: 0;
      .cta-text {
        font-family: var(--display-ext);
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 125%;
        text-align: left;
        color: #898989;
        margin-left: 2rem;
      }
    }
  }
  .ticket {
    .mobile-mb-10 {
      margin-bottom: 50px;
    }
    .ascii-text {
      font-size: 1rem;
    }
    h1.buying-title {
      font-size: 1.5rem;
      margin: 10px 0;
    }
    .info-wallet {
      font-size: 1.5rem;
    }
    .title-container {
      h1 {
        font-size: 3rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
    }
    .specs-location {
      margin-bottom: 10px;
      h4 {
        font-size: 1rem;
      }
      .location {
        p,
        i {
          font-size: 1.5rem;
        }
      }
    }
    .cta-section {
      padding: 1.5rem 0;
      .cta-text {
        font-size: 1rem;
      }
    }
    .specs-location {
      h4,
      p {
        font-size: 1.5rem;
      }
    }
    .ticket-card {
      margin: 5px 0;
      padding: 0;
      .ticket-title {
        font-size: 1.5rem;
      }
      .ticket-price {
        line-height: 1;
        font-size: 2rem;
      }
    }
    .btn-ticket {
      padding: 5px 16px;
    }
    .ticket-checkout-specs {
      .checkout-ticket-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
    }

    .ticket-text {
      font-size: 1rem;
    }
  }
  .manage-tickets {
    input {
      width: 100%;
      margin-bottom: 20px;
    }
    .ticket-select {
      .dropdown {
        width: 100%;
        max-width: 100%;
      }
      .dropdown__items li {
        color: white;
        padding: 20px 16px;
        cursor: pointer;
      }
    }
    .btn-mint {
      width: 100%;
    }
    .details-transfer {
      word-break: break-all;
    }
  }
  #newsletter_component {
    border-bottom: 1px solid #00ff00;

    h3 {
      font-weight: 400;
      font-size: 1.75rem;
      line-height: 125%;
      font-family: var(--display-ext);
      text-align: center;
    }

    #mc_embed_signup .mc-field-group {
      width: 100%;
    }

    #mc_embed_signup .button {
      margin: 0;
      padding: 25px 0;
      width: 100%;
    }
    .clear {
      width: 100%;
      margin-left: 0;
    }
    #mc_embed_signup form {
      display: block;
      position: relative;
      text-align: left;
      padding: 0;
    }
    // #mc_embed_signup .mc-field-group {
    //   width: 50%;
    // }
  }
  #hackathon {
    .title-container {
      h1,
      h2 {
        font-size: 2.5rem;
      }
    }
    .title-section {
      line-height: 1;
      box-sizing: border-box;
    }
    .specs-location {
      h4,
      .location p {
        font-size: 1.5rem;
      }
    }
    .number {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
    .col-sm-p {
      margin: 1rem 0;
      border: 1px solid var(--green);
      border-width: 0px 1px 0px 0;
      padding: 0 !important;
      width: 100%;

      div {
        max-width: 80%;
        height: auto;
        margin: auto;
      }

      svg {
        width: auto;
        height: 80%;
      }
    }
  }



  .talks-page .rooms .greenrow {
    display: none;
  }

  .talks-page .rooms h1 {
    font-size: 2rem;
    font-family: var(--display-ext);
    background-color: var(--green);
    color: black;
    padding: 2.5rem;
  }
    .talks-page .talk-scheduling h1 {
      font-size: 2.2rem;
    }
    .talks-page .talk-scheduling .tag {
      min-width: 8rem;
    }
    .talks-page .rooms .schedule-program .programrow {
      padding: 2.25rem 3rem;
    }

    .talks-page .talk-scheduling {
      padding: 0rem 3rem 4rem 3rem;

    }

        .impressum .content {
          padding: 0;
        }
    
}

@media screen and (max-width: 425px) {
  .hideMobile {
    display: none !important;
  }
  .showMobile {
    display: inline !important;
  }

  .pad-x {
    padding-left: 0;
    padding-right: 0;
  }

  .title-dbw {
    font-size: 3rem !important;
  }

  .h3-border {
    border: none !important;
  }

  .menu-mobile {
    .col:nth-child(1) {
      svg {
        width: 19px !important;
      }
    }
    .col:nth-child(2) {
      img {
        width: 3rem !important;
      }
    }
  }
  .mobile-social {
    display: none;
  }

  .title {
    .col-lg-6:nth-child(1) {
      padding-left: 1.8rem;
    }

    .title-content {
      h1 {
        font-size: 2.5rem !important;
      }

      p {
        font-size: 0.875rem;
        padding: 0;
      }
    }
    .col-lg-6:nth-child(2) {
      video {
        max-width: 350px;
      }
    }
  }

  .talks {
    .no-b {
      border: none !important;
    }

    .col-lg-1.col-lg-1:nth-child(1) {
      padding-left: 1.8rem;
    }

    .col-lg-10 {
      padding-left: 0;

      .talks-date {
        padding-left: 1.8rem;
        h1 {
          font-size: 3.5rem;
        }

        .position {
          display: block;
          align-items: baseline;
          div {
            img {
              margin-left: 0;
              margin-top: 2.25rem;
              margin-right: 1rem;
            }
          }
        }
      }

      .talks-types {
        text-align: start;
        padding-left: 1.8rem;

        .row {
          justify-content: start;
          padding-left: 1rem;
          h3 {
            font-size: 2rem;
            padding: 0;
          }
        }

        .row:nth-child(2) {
          h3 {
            margin-right: 1rem;
            padding-right: 1rem;
          }
        }
      }

      a {
        width: 100%;

        button {
          width: 100vw;
        }
      }
    }
  }

  .what {
    .col-lg-6:nth-child(1) {
      padding-left: 1.8rem !important;
      padding-right: 2rem !important;

      .what-title {
        h1 {
          font-size: 3rem;
        }
      }
      .what-text {
        p {
          font-size: 0.875rem;
        }
      }
    }
  }

  .speakers {
    .container-fluid {
      padding-left: 1.8rem;
    }
  }
  .speakers .swiper {
    padding-left: 1rem;
  }
  .speakers .swiper .speaker h1 {
    max-inline-size: 100%;
    font-size: 2.5rem;
  }
  .speakers .swiper .speaker p {
    max-inline-size: 89%;
  }

  .speakers .speakers-title {
    flex-direction: column;
    align-items: flex-start;

    .title-dbw {
      margin-bottom: 2rem;
    }
  }

  .speaker {
    margin-top: 3rem;
  }
  .speakers .speakers-new {
    padding-left: 0rem;
    margin-top: 0;
  }
  .speakers .nft-ex {
    padding-left: 0rem;
  }

  .sponsors {
    padding: 3.5rem 1.8rem;

    .anon-wrapper h1 {
      font-size: 2.5rem !important;
    }

    h3 {
      font-size: 2.5rem !important;
    }
    .row {
      flex-direction: row !important;
    }
    .rare {
      .col-6 {
        margin: 1rem 0;

        width: 50%;
      }
    }
    .epic {
      /* flex-direction: column; */
      .col-lg-3 {
        margin: 1rem 0;
        border: none;
        padding: 0 !important;

        div {
          /* margin: 0 !important; */
          overflow-x: hidden;
        }
      }
    }
  }

  .partners .partners-content .col-lg-4 div img {
    max-width: 136px;

  }

  .sponsors .anon .col-md-3 {
    width: 50%;
  }
  .sponsors .epic .col-md-3 {
    width: 50%;
  }
  .anon .col-md-3:nth-child(5) {
    border-right: 1px solid var(--green) !important;
  }
  .anon .col-md-3:nth-child(even) {
    border-right: none !important;
  }
  .sponsors .epic .col-md-3:nth-child(even) {
    border-right: none !important;
  }
  .sponsors .epic .col-md-3:nth-last-child(1) {
    border-right: none !important;
  }

  .partners .partners-content {
    padding: 0 1.8rem;
  }
  .team-swiper {
    .container-fluid {
      padding: 0;

      h1 {
        margin-left: 1rem;
        padding-left: 0 !important;
      }
    }
    .swiper-slide {
      /*  width: fit-content !important; */
      padding-bottom: 2rem;

      .member {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;

        .member-ph {
          width: fit-content;
          margin-top: 1rem;

          .ph-quad {
            top: -6px;
            width: 100%;
          }
        }
      }
    }
  }

  .side-menu {
    .container-fluid {
      padding-left: 0rem;
    }
  }

  .side-menu {
    padding-left: 1rem;
    .mobile-links {
      a {
        font-size: 1.5rem;
        margin: 0.5rem 0;
      }
    }
    .mobile-open-social {
      display: flex !important;
      svg {
        width: 1.2rem;
      }
    }
  }

  footer .row {
    padding: 1.75rem 1.8rem;
  }

  .what .col-lg-6:nth-child(1) .what-text p,
  .title .row .col-lg-6:nth-child(1) .title-content p {
    font-size: 1.4rem;
    line-height: 120%;
  }

  .talks-page{
    .rooms .schedule-program .schedule-hours {
        min-width: 8rem;
      }
    .rooms .schedule-program .programrow:nth-child(1) {
      padding-top: 2.5rem;
    }
    .rooms .schedule-program .programrow .col{
      min-width: 12rem;
    }

    .talk-scheduling .tag {
      min-width: 5rem;
    }

    .schedule-content {
      padding-top: 3rem;
    }
    .talk-scheduling {
      padding: 0rem 2rem 2rem 2rem;

      h1 {
          font-size: 1.2rem;
          margin-bottom: 0;
        }
      .tag {
        font-size: 1.5rem;
      }
    }
    .rooms h1 {
      font-size: 1.2rem;
      padding: 1.5rem;
    }
  }


  .impressum{

    .hideMobile{
      display: none;
    }
    .hideDesktop{
    display: inline !important;
    }

    .ex-title{
      font-size: 1rem;
    }

    .content .col-lg-6 {
      display: flex;
      justify-content: space-between;
    }

    h1{
      font-size: 2rem;
    }
  }


    
 
}

@media screen and (max-width: 375px) {
  .speakers .swiper .speaker h1 {
    font-size: 2.2rem;
  }
  .speakers .swiper {
    padding-left: 0rem;
  }

  .partners .partners-content .cols div img {
    max-width: 124px;
  }

  .title .title-content h1,
  .talks .col-lg-10 .talks-date h1,
  .what .col-lg-6:nth-child(1) .what-title h1,
  .title-dbw,
  .sponsors .anon-wrapper h1 {
    font-size: 2.2rem !important;
  }

  .talks .col-lg-10 .talks-types .row h3 {
    font-size: 1.7rem;
  }

  .talks-page {
    .rooms .schedule-program .programrow {
        padding: 2.25rem 1rem;
      }

    .rooms h1 {
      font-size: 1.2rem;
      padding: 1rem;
    }
    .talk-scheduling {
        padding: 0rem 1rem 2rem 1rem;

        .tag {
          font-size: 1.3rem;
          min-width: 4rem;
        }
      }
  }

  .impressum h1{
    font-size:1.5rem;
  }

  .impressum .content .row {
    padding: 0 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .impressum footer {
    padding: 2rem;

    .footer-social svg {
      margin: 0 .5rem;
    }

  }
      
}

@media screen and (max-width: 320px) {
  .menu-mobile {
    .col:nth-child(1) {
      svg {
        width: 19px !important;
      }
    }
    .col:nth-child(2) {
      img {
        width: 2rem !important;
      }
    }
  }
  .title {
    .col-lg-6:nth-child(1) {
      padding-left: 1rem;
    }

    .col-lg-6:nth-child(2) {
      video {
        max-width: 300px;
      }
    }
  }

  .talks .col-lg-10 .talks-types .row h3 {
    font-size: 1.5rem;
  }

  .speakers .swiper .speaker .speaker-img-wrapper {
    width: 260px;
  }
  .speakers .swiper .speaker h1 {
    font-size: 1.9rem;
  }
  .speakers .swiper {
    padding-left: 0rem;
  }
  .speakers .swiper .speaker .speaker-img-wrapper .speaker-bg {
    left: 6px;
  }

  .partners .partners-content .cols div img {
    max-width: 104px;
  }

  .sponsors {
    .epic {
      .col-lg-3 {
        svg,
        img {
          max-width: auto !important;
          max-height: 80%;
        }
      }
    }
  }

  .team-swiper {
    .member {
      width: 70vw !important;
    }
  }

  footer .row {
    padding-left: 1.8rem;
  }

  .side-menu {
    .mobile-links {
      a {
        font-size: 1.2rem;
        margin: 0.5rem 0;
      }
    }
    .mobile-open-social {
      a {
        margin-right: 2rem;
      }
      svg {
        width: 1rem;
      }
    }
  }

  .talks .col-lg-10 .talks-date,
  .talks .col-lg-10 .talks-types,
  .talks .col-lg-1.col-lg-1:nth-child(1),
  .title .row .col-lg-6:nth-child(1),
  .what .col-lg-6:nth-child(1),
  .speakers .container-fluid,
  .sponsors,
  footer .row {
    padding-left: 1.5rem !important;
  }

  .sponsors .anon-wrapper h1 {
    font-size: 2rem !important;
  }

  .speakers .speakers-new .speaker .speaker-img-wrapper {
    max-width: 247px;
  }

  #hackathon .title-container h1,
  #hackathon .title-container h2 {
    font-size: 2.3rem;
  }

  .partners .partners-content .col-lg-4 div img {
    max-width: 100px;
  }

    .talks-page .talk-scheduling {
      flex-direction: column;
      align-items: flex-start;
      .tag:nth-child(1) {
          margin-left: 0rem;
          margin-right: 1rem;
        }
    }

    .rooms .schedule-program .programrow .col p,
    .talks-page .rooms .schedule-program .programrow .col-lg-2 p {
      max-inline-size: 90%;
    }

    .talks-page .schedule-content {
      padding-top: 1rem;
    }
        

}
