@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*:focus,
*:active,
*:focus-visible * {
  outline: none !important;
}

img,
svg {
  user-select: none;
}

:root {
  --green: #00ff00;
  --black: #000000;
  --greentransp: #00ff0033;
  --white: #ffffff;
  --worksans: "Work Sans", sans-serif;
  --voyage: "Voyage";
  --display: "MultiType Pixel Display Narrow";
  --display-ext: "MultiType Pixel Display";
  --neuebit: "NeueBit";
}

body {
  background-color: var(--black);
  color: var(--white) !important;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

@mixin border-top-btm {
  border: 1px solid var(--green);
  border-width: 1px 0 1px 0;
}
@mixin border-right {
  border: 1px solid var(--green);
  border-width: 0px 1px 0px 0;
}

@mixin text {
  color: var(--white);
  font-family: var(--neuebit);
}

@mixin btn-transparent {
  border: 2px solid #00ff00;
  padding: 8px 16px;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
  text-align: center;
  background-color: #000000;
  color: #00ff00;
  font-family: var(--neuebit);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
  * {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  &:hover {
    background-color: #00ff00;
    color: black;
  }
}
.no-border {
  border: none !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}

.blend-mode {
  mix-blend-mode: color;
}

.hideDesktop {
  display: none;
}

.title-dbw {
  font-family: var(--display-ext);
  color: var(--green);
  font-size: 5rem;
  text-align: start;

  span {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.pad-x {
  padding-left: 2.813rem;
  padding-right: 2.813rem;
}

.external-btn {
  button {
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
    font-family: var(--voyage);
    font-weight: 700;
    padding: 1rem;
    display: flex;
    margin-top: 2.8rem;

    p {
      margin: 0;
      margin-right: 1rem;
    }
    span {
      transform: rotate(90deg);
    }
  }
}

.marquee {
  box-sizing: border-box;
  border-bottom: 1px solid #00ff00;
  padding-bottom: 1.5rem;

  .banner-text {
    font-family: var(--display);
    font-weight: 400;
    font-size: 6rem;
    line-height: 1;
    color: white;
    box-sizing: border-box;
  }
}

.disable-click {
  cursor: default !important;
  pointer-events: none !important;
}

.ex-title {
  background-color: #00ff00;
  font-family: var(--display);
  color: #000000;
  font-size: 1.5rem;
  border: 2px solid black;
  outline: 2px solid #00ff00;
  width: fit-content;
  padding: 8px 21px;
  margin-top: 6rem;
}

.tw-handle {
  color: #898989;

  &:hover {
    color: #898989;
  }
}

/* ===== >>>>> NAVBAR <<<<< ===== */

.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--black);
  z-index: 100;
  border-bottom: 1px solid var(--green);
  .row {
    width: 100%;
    align-items: center;
    margin: 1.75rem 0;

    img {
      max-width: 96px;
    }

    .col-10 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .nav-links {
      display: flex;
      justify-content: center;
      a {
        color: var(--green);
        font-family: var(--neuebit);
        text-transform: uppercase;
        margin: 0 1rem;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        font-size: 1.2rem;
        &:hover {
          color: var(--white);
        }
      }
    }

    .nav-social {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        margin: 0 1rem;
        margin-bottom: 0.3rem;

        path {
          transition: 0.2s ease-in-out;
        }

        &:hover {
          path {
            fill: var(--white);
          }
        }
      }
    }
  }
}

/* ===== >>>>> / NAVBAR <<<<< ===== */

/* ===== >>>>> TITLE <<<<< ===== */

.title {
  @include border-top-btm();
  @include text();
  padding-top: 8.5rem;

  p {
    font-family: var(--neuebit);
    font-size: 1.8rem;
    line-height: 125%;
  }

  .col-lg-6:nth-child(1) {
    @include border-right();
    text-align: left;
    padding-left: 2.813rem;

    .title-content {
      margin: 8.625rem 0;

      h3,
      h1 {
        font-weight: 700;
      }
      h3 {
        color: #989898;
        font-size: 2rem;
        font-family: var(--display);
      }

      h1 {
        font-family: var(--display-ext);
        font-size: 3rem;
        line-height: 125%;
        color: var(--green);
      }

      p {
        margin-top: 4.375rem;
      }

      button {
        background-color: #00ff00;
        color: black;
        font-size: 2rem;
        font-weight: 700;
        border: none;
        font-family: var(--neuebit);
        padding: 1rem 10rem;
        margin-top: 1rem;

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }

  .col-lg-6:nth-child(2) {
    display: grid;
    place-items: center;
    position: relative;

    video {
      aspect-ratio: 1/1;
      /*  max-width: 500px; */
      object-fit: cover;
      width: 90%;
    }

    .gradient-black {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(to bottom, rgba(0, 0, 0), black);
      background: -moz-linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 47%,
        rgba(0, 0, 0, 0.5704875700280112) 72%,
        rgba(255, 255, 255, 0) 100%
      );
      background: -webkit-linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 47%,
        rgba(0, 0, 0, 0.5704875700280112) 72%,
        rgba(255, 255, 255, 0) 100%
      );
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 47%,
        rgba(0, 0, 0, 0.5704875700280112) 72%,
        rgba(0, 0, 0, 0.007) 100%
      );
    }
  }
  form {
    padding: 0 !important;
  }
}
#newsletter_component {
  border-bottom: 1px solid #00ff00;
  .cta-subscribe {
    margin-bottom: 50px;
  }
  h3 {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 125%;
    font-family: var(--display-ext);
    text-align: center;
  }
  #mc_embed_signup .mc-field-group {
    width: 40%;
  }
  input,
  #mc_embed_signup .mc-field-group input {
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: black;
    border: 1px solid #00ff00;
    font-size: 2rem;
    font-family: var(--neuebit);
  }
  input[type="submit"] {
    background-color: #00ff00;
    color: black;
    font-family: var(--neuebit);
    font-weight: 700;
    margin-top: 10px;
  }
  #mc_embed_signup .button {
    background-color: #00ff00;
    color: black;
    font-family: var(--neuebit);
    font-weight: 700;
    margin: 0;
    font-size: 2rem;
    padding: 25px 0;
    width: 100%;
    line-height: 1;
    vertical-align: middle;
    height: auto;
    text-transform: uppercase;
  }
  .clear {
    width: 40%;
    margin-left: 3rem;
  }
  #mc_embed_signup form {
    padding: 0;
  }
  // #mc_embed_signup .mc-field-group {
  //   width: 50%;
  // }
}
/* ===== >>>>> / TITLE <<<<< ===== */

/* ===== >>>>>  TALKS <<<<< ===== */

.talks {
  .col-lg-1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: var(--green);
    font-family: var(--display-ext);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-weight: 700;
      font-size: 1.5rem;
    }

    &.col-lg-1:nth-child(1) {
      @include border-right();
      h3 {
        transform: rotate(180deg);
      }
    }
  }

  .col-lg-10 {
    @include border-right();
    background-image: url("../assets/img-win-tower.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .black-filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .talks-date {
      position: relative;
      padding-left: 2rem;
      padding-top: 8.5rem;

      h1 {
        color: var(--green);
        font-family: var(--display-ext);
        font-weight: 700;
        font-size: 3.5rem;
        text-align: center;

        span {
          font-size: 2.6rem;
        }
      }

      .position {
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin-top: 2rem;

        h1 {
          font-weight: 400;
        }

        div {
          display: flex;
          align-items: baseline;

          img {
            margin-left: 3rem;
            margin-right: 2rem;
          }
          p {
            @include text();
            font-size: 2rem;
            font-family: var(--neuebit);
          }
        }
      }
    }

    .talks-types {
      margin-top: 5.5rem;
      margin-bottom: 8rem;
      .row {
        justify-content: center;
        h3 {
          color: var(--white);
          font-family: var(--display);
          position: relative;
          font-size: 2rem;
          font-weight: 700;
          padding: 0 2rem;
        }

        .h3-border {
          border-right: 1px solid var(--green);
        }
      }
    }

    button {
      background-color: var(--greentransp);
      @include border-top-btm();
      position: relative;
      margin-bottom: 7.5rem;
      width: 100%;

      h3 {
        color: var(--green);
        font-family: var(--display);
        font-size: 2rem;
        font-weight: 700;
        padding: 2rem 3.5rem;
      }
    }
  }
}

/* ===== >>>>> / TALKS <<<<< ===== */

/* ===== >>>>>  WHAT <<<<< ===== */

.what {
  @include border-top-btm();

  .col-lg-6:nth-child(1) {
    @include border-right();
    padding: 14.5rem 0;

    button {
      background-color: transparent;
      border: 1px solid var(--green);
      padding: 5px;
      display: flex;
      align-items: center;

      .btn-what,
      .btn-why {
        padding: 0.5rem 1.5rem;
        background-color: #ffffff;

        p {
          margin: 0;
          color: var(--green);
          font-family: var(--display);
          font-weight: 700;
          /* padding: 1rem; */
        }
      }
    }

    .what-title {
      margin-bottom: 2rem;

      h1 {
        color: var(--green);
        font-family: var(--display-ext);
        font-weight: 700;
        font-size: 3.5rem;
        text-align: start;
        line-height: 110%;

        &:nth-child(1) {
          margin-top: 5.5rem;
          font-weight: 400;
        }
      }
    }
    .what-text {
      @include text();
      text-align: start;
      font-size: 2rem;
      line-height: 105%;

      span {
        color: var(--green);
        font-weight: 700;
      }
    }
  }

  .col-lg-6:nth-child(2) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#img-art {
  background-image: url("../assets/img-artwork.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#img-graf {
  background-image: url("../assets/img-graffiti.png");
  display: none;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/* ===== >>>>> / WHAT <<<<< ===== */

/* ===== >>>>>  TEAM <<<<< ===== */

.team {
  /* padding: 0 10.25rem; */
  @include border-top-btm();
  padding-top: 8.25rem;
  padding-bottom: 6.75rem;

  .title-dbw {
    margin-bottom: 6rem;
  }

  .row:nth-child(2) {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
}
.team,
.team-swiper {
  .member {
    text-align: start;

    h1 {
      font-family: var(--voyage);
      color: var(--green);
      font-size: 2rem;
      font-weight: 700;
    }

    p {
      color: var(--white);
      font-family: var(--worksans);
      font-size: 0.875rem;
      margin: 0;
    }
    .member-ph {
      position: relative;
      width: fit-content;
      .ph-quad {
        border: 1px solid var(--green);
        position: absolute;
        top: -6px;
        left: -6px;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        z-index: -1;
      }
      img {
        border-width: 1px 7px 7px 1px;
        border-color: var(--green);
        border-style: solid;
        aspect-ratio: 1/1;
      }
    }
    .member-social {
      display: flex;
      align-content: center;
      margin: 0.5rem 0;
      img {
        margin-right: 1rem;
      }
    }
  }
}

/* ===== >>>>> / TEAM <<<<< ===== */

/* ===== >>>>> SPEAKERS <<<<< ===== */

.speakers {
  @include border-top-btm();
  border-top: none;
  padding-top: 5rem;
  padding-bottom: 7.5rem;
  .container-fluid {
    padding: 0;
  }
  .speakers-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      text-decoration: none;
    }
  }

  .external-btn {
    text-align: center;
  }

  .speakers-new {
    padding-left: 2.813rem;
    margin-top: 4.125rem;

    .row {
      max-width: 100vw;
    }

    .row:nth-child(2) {
      margin-top: 3.5rem;
    }

    .col-lg-2 {
      padding: 0 !important;
    }

    .speaker {
      text-align: start;
      h1 {
        font-family: var(--display);
        color: var(--green);
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 1.875rem;
        max-inline-size: 85%;
      }

      p {
        color: var(--white);
        font-family: var(--neuebit);
        max-inline-size: 80%;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 100%;
      }

      .speaker-img-wrapper {
        position: relative;
        max-width: 175px;

        .speaker-bg {
          position: absolute;
          top: 6px;
          left: 6px;
          z-index: -1;
          background-color: var(--green);
          width: 100%;
          height: 100%;
        }

        .speaker-img {
          border: 1px solid var(--green);
          background-color: var(--black);
          aspect-ratio: 1/1;
          img {
            width: 100%;

            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .nft-ex {
    padding: 0 2.813rem;

    .col,
    .col-sm-12,
    .col-lg-2 {
      h2 {
        color: #00ff00;
        font-family: var(--display-ext);
        font-size: 1.5rem;
        margin-top: 2.8rem;
      }

      p {
        font-size: 1.5rem;
        font-family: var(--neuebit);
        font-weight: 700;
        color: white;
        line-height: 100%;
        margin-top: 1rem;
      }

      .tw-handle {
        color: #898989;
      }
    }
  }
}

.swiper-btn-wrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: center;

  button {
    background-color: transparent;
    border: 2px solid var(--green);
    aspect-ratio: 1/1;
    padding: 1.25rem;
    margin: 0 1.875rem;
  }
}

/* ===== >>>>> / SPEAKERS <<<<< ===== */

/* ===== >>>>>  SPONSORS <<<<< ===== */

.sponsors {
  padding-top: 6rem;
  padding-bottom: 7.25rem;

  h3 {
    font-family: var(--neuebit);
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    text-align: start;
    margin: 3rem 0;
  }

  .row {
    margin-top: 3rem;
    .col-lg-3,
    .col-6,
    .col-sm-p,
    .col {
      padding: 0 14px;

      div {
        background-color: #ffffff1a;
        display: grid;
        place-items: center;

        svg,
        img {
          height: auto;
          max-width: 70%;
        }
      }
    }
  }

  .rare {
    .col-6 {
      @include border-right();
      width: 50%;
      margin-bottom: 2rem;
      &:nth-child(2),
      &:nth-last-child(1) {
        border: none;
      }
      div {
        /* aspect-ratio: 2/1; */
        min-height: 8rem;
      }
    }
  }

  .epic {
    .col-sm-p {
      @include border-right();
      margin-top: 2rem;
      width: 25%;

      div {
        /* height: 5rem;
        max-height: 5rem; */
        /* aspect-ratio: 2/1; */
        min-height: 8rem;
      }
    }

    .col-sm-p:nth-child(8),
    .col-sm-p:nth-child(4) {
      border: none;
    }
  }

  .anon {
    .col-sm-p {
      @include border-right();
      margin-top: 2rem;
      width: 20%;

      div {
        /* height: 5rem;
        max-height: 5rem; */
        /* aspect-ratio: 2/1; */
        min-height: 8rem;
      }
    }

    .col-sm-p:nth-child(8),
    .col-sm-p:nth-child(5) {
      border: none;
    }
  }

  .anon-wrapper {
    display: flex;
    margin-top: 3rem;

    h1 {
      font-family: var(--display-ext);
      color: var(--green);
      font-size: 3.5rem;
      font-weight: 700;
    }

    .row {
      width: 50%;
      display: none;
    }
  }

  // .anon {
  //   .col {
  //     @include border-right();
  //     &.col:nth-last-child(1) {
  //       border: none;
  //     }

  //     div {
  //       aspect-ratio: 1/1;
  //       min-height: 5rem;
  //     }
  //   }
  // }
}

/* ===== >>>>> / SPONSORS <<<<< ===== */

/* ===== >>>>>  EVENTS <<<<< ===== */

.events {
  padding: 6rem 0;

  .events-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 2.875rem;
    }

    a {
      text-decoration: none;
    }
  }
}

/* ===== >>>>> / EVENTS <<<<< ===== */

/* ===== >>>>> FOOTER <<<<< ===== */

footer {
  background-color: var(--green);

  .col-lg-3:nth-child(1) {
    text-align: start;
  }

  .row {
    align-items: center;
    padding: 1.75rem 3rem;

    .footer-links {
      display: flex;
      justify-content: center;
      a {
        color: var(--black);
        font-family: var(--worksans);
        text-transform: uppercase;
        margin: 0 1rem;
        text-decoration: none;
        transition: 0.2s ease-in-out;

        &:hover {
          color: var(--white);
        }
      }
    }

    .footer-social {
      display: flex;
      justify-content: flex-end;

      svg {
        margin: 0 1rem;

        path {
          transition: 0.2s ease-in-out;
        }

        &:hover {
          path {
            fill: var(--white);
          }
        }
      }
    }
  }
}

/* ===== >>>>> / FOOTER <<<<< ===== */

.menu-mobile {
  background-color: black;
  // height: 8rem;
  height: 6rem;
  border-bottom: 1px solid var(--green);
  z-index: 1000;
  /* position: relative; */

  .row {
    align-items: center;
    padding: 1.5rem 0;

    .col:nth-child(1) {
      text-align: start;

      #menu-btn {
        background-color: transparent;
        border: none;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-left: 2.5rem;
        width: 2rem;
        height: 2rem;
      }
      #menu-btn_burger {
        transition: all 0.5s ease-in-out;

        .burg {
          width: 2rem;
          height: 5px;
          background-color: var(--green);
          margin: 0.3rem 0;
          transition: all 0.5s ease-in-out;
        }

        .burg:nth-child(1) {
          top: 0;
          position: absolute;
          margin-bottom: 0.5rem 0;
        }
        .burg:nth-child(3) {
          position: absolute;
          bottom: 0;
          margin-top: 0.5rem 0;
        }
      }

      #menu-btn.open .burg:nth-child(2) {
        transform: translate(-50px);
        background-color: transparent;
      }
      #menu-btn.open .burg:nth-child(1) {
        transform-origin: center;
        transform: rotate(45deg) translate(6px, 7px);
      }
      #menu-btn.open .burg:nth-child(3) {
        transform-origin: center;
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }

    .col:nth-child(2) {
      img {
        width: 4.5rem;
        height: auto;
      }
    }
    .col:nth-child(3) {
      .mobile-social {
        a {
          margin: 0 1rem;
        }
      }
    }
  }
}

.side-menu {
  z-index: 20;
  position: absolute;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-color: var(--green);
  padding: 1.5rem 0;

  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    position: relative;
    padding-left: 2rem;
  }

  .mobile-links {
    display: flex;
    flex-direction: column;
    text-align: start;

    a {
      font-family: var(--worksans);
      text-transform: uppercase;
      color: var(--black);
      font-size: 2rem;
      margin: 1rem 0;
      transition: 0.2s ease-in-out;

      &:hover {
        text-decoration: none;
        color: var(--white);
      }
    }
  }

  .mobile-open-social {
    text-align: start;
    display: flex;
    justify-content: space-between;
    margin-top: 180%;

    path {
      transition: 0.2s ease-in-out;
    }
    a {
      margin-right: 2rem;

      & path:hover {
        fill: white;
      }
    }
    svg {
      width: 1.2rem;
      height: auto;
    }
  }
}

/* ===== >>>>> NEWSLETTER <<<<< ===== */

#newsletter_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid #00ff00;
  }
  h1 {
    font-family: var(--display-ext);
    color: #00ff00;
  }
  h2,
  p {
    font-family: var(--neuebit);
  }
  h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin: 0;
  }
  p {
    font-size: 1.5rem;
    line-height: 1;
  }
}

/* ===== >>>>> / NEWSLETTER <<<<< ===== */

/* ===== >>>>> HACKATHON <<<<< ===== */

#hackathon {
  a:hover {
    text-decoration: none;
  }
  .title-container {
    h1 {
      font-family: var(--display-ext);
      font-weight: 700;
      line-height: 125%;
      font-size: 3.5rem;
    }
    h2 {
      font-family: var(--display-ext);
      font-size: 3.5rem;
      font-weight: 400;
      line-height: 125%;
    }
    h3 {
      font-family: var(--display-ext);
      font-size: 2rem;
      font-weight: 400;
      line-height: 125%;
      color: #05a605;
    }
  }
  .specs-location {
    h4 {
      font-family: var(--neuebit);
      font-size: 2rem;
      line-height: 1;
      color: #008d00;
    }
    .location {
      margin-left: 1rem;
      * {
        box-sizing: border-box;
        line-height: 1;
        color: #898989;
        margin: 0;
      }
      p {
        font-size: 2rem;
        font-family: var(--neuebit);
      }

      i {
        font-size: 1rem;
        margin: -0.2rem 0.5rem 0 0;
      }
    }
  }
  .number {
    font-size: 3.5rem;
    font-family: var(--display-ext);
  }
  p {
    font-family: var(--neuebit);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 120%;
    color: #ffffff;
    span.title-p {
      font-family: var(--display);
      color: #00ff00;
      font-weight: 700;
    }
  }
  .btn-apply {
    @include btn-transparent();
    svg {
      height: 0.9rem;
    }
    &:hover {
      svg {
        path {
          fill: #000000;
        }
      }
    }
  }
  .sponsors {
    padding-bottom: 0;
  }
  .title-section {
    font-family: var(--neuebit);
    font-size: 4.5rem;
  }
  p.prizes-p {
    font-family: var(--neuebit);
    font-size: 1.5rem;
    margin-left: 1.5rem;
    span {
      font-size: 1rem;
    }
  }
  .judges {
    border-top: none;

    .speakers-new {
      .speaker {
        text-align: start;
        h3 {
          font-family: var(--display-ext);
          color: var(--green);
          font-weight: 700;
          font-size: 1rem;
          margin-top: 1rem;
          max-inline-size: 85%;
        }

        p {
          color: var(--white);
          font-family: var(--neuebit);
          margin: 0;
          box-sizing: border-box;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1;
        }

        .speaker-img-wrapper {
          position: relative;
          max-width: 175px;

          .speaker-bg {
            position: absolute;
            top: 6px;
            left: 6px;
            z-index: -1;
            background-color: var(--green);
            width: 100%;
            height: 100%;
          }

          .speaker-img {
            border: 1px solid var(--green);
            background-color: var(--black);
            aspect-ratio: 1/1;
            img {
              width: 100%;

              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .hackathon-contacts {
    h2 {
      font-family: var(--neuebit);
    }
  }
}
/* ===== >>>>> HACKATHON <<<<< ===== */

/* ========================================= >>>>> MINTING TICKETS <<<<< =========================================================== */

.white {
  color: white !important;
}

.white_inactive {
  color: #989898;
}

.green {
  color: #00ff00 !important;
}

.green_inactive {
  color: #05a605 !important;
}

.red {
  color: red !important;
}

.underline_link {
  text-decoration: underline !important;
}
.p-FieldLabel {
  color: white !important;
  font-family: var(--neuebit) !important;
}

.ticket {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  /* == >> FONTS << == */
  h1.buying-title {
    font-family: var(--display-ext);
    font-size: 3.5rem;
    color: #008d00;
  }
  h3 {
    font-family: var(--display);
    font-weight: 600;
    font-size: 2rem;
  }
  h4 {
    font-family: var(--display);
    font-weight: 700;
    font-size: 3.7rem;
    line-height: 125%;
    color: #ffffff;
  }
  h5 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 125%;
    font-family: var(--display);
    color: #00ff00;
    margin: 0;
  }
  .info-ticket {
    font-family: var(--neuebit);
    color: #00ff00;
    font-size: 2rem;
  }
  .info-wallet {
    font-family: var(--neuebit);
    color: #898989;
    font-size: 2rem;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-family: var(--neuebit);
    font-size: 2rem;
    color: #008d00;
    line-height: 1;
  }
  .ascii-text {
    font-family: var(--display-ext);
    font-size: 1.5rem;
    color: #898989;
  }
  /* == >> / FONTS << == */
  .bordered {
    border: 1px solid #00ff00;
    padding: 10px;
  }

  .choose-pay {
    border: 2px solid #00ff00;
    padding: 5px;
    cursor: pointer;

    h3 {
      color: #000000;
      background-color: #00ff00;
      padding: 0.5rem 1.5rem;
      font-family: var(--display);
      font-weight: 600;
    }
    * {
      margin: 0;
      box-sizing: border-box;
      transition: all 0.3s;
    }

    &:hover {
      h3 {
        background-color: #000000;
        color: #00ff00;
        transition: all 0.3s;
      }
    }
  }

  .cta-section {
    padding: 3rem 0;
    border-top: 4px dashed #898989;
    border-bottom: 4px dashed #898989;
    .cta-text {
      font-family: var(--display-ext);
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 125%;
      text-align: center;
      color: #898989;
    }
    .cat {
      height: 87px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  input {
    background-color: #272727;
    border: 1px solid #00ff00;
    padding: 7px 21px;
    color: white;
    font-family: var(--neuebit);
    font-size: 1.8rem !important;
    text-align: center;
    font-weight: 700;
  }

  .label {
    font-family: var(--neuebit);
    font-size: 1.8rem;
  }

  .specs-location {
    h4 {
      font-family: var(--neuebit);
      font-size: 2rem;
      line-height: 1;
      color: #008d00;
    }
    .location {
      margin-left: 1rem;
      * {
        box-sizing: border-box;
        line-height: 1;
        color: #898989;
        margin: 0;
      }
      p {
        font-size: 2rem;
        font-family: var(--neuebit);
      }

      i {
        font-size: 1rem;
        margin: -0.2rem 0.5rem 0 0;
      }
    }
  }

  .ticket-card {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .ticket-title {
      font-family: var(--neuebit);
      font-weight: 700;
      font-size: 2rem;
      line-height: 1;
    }

    .ticket-price {
      font-family: var(--neuebit);
      font-weight: 700;
      font-size: 3rem;
      line-height: 150%;
    }
    .ticket-details {
      color: #898989;
      font-family: var(--neuebit);
      font-size: 1.3rem;
      cursor: pointer;
    }
    span {
      background: none;
      border: none;
    }
  }

  .title-container {
    h1 {
      font-family: var(--display-ext);
      font-weight: 700;
      line-height: 125%;
      color: #00ff00;
      font-size: 3.5rem;
    }
    h2 {
      font-family: var(--display-ext);
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 125%;
      color: #00ff00;
    }
    h3 {
      font-family: var(--display-ext);
      font-size: 2rem;
      font-weight: 400;
      line-height: 125%;
      color: #05a605;
    }
  }

  .ticket-select {
    p {
      font-family: var(--display);
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 125%;
      color: white;
    }
    .dropdown {
      position: relative;
      filter: url(#goo);
      vertical-align: middle;
      display: inline-block;
      line-height: 1;
      box-sizing: border-box;
      z-index: 2;
      background-color: #272727;
      border: 1px solid #00ff00;
      width: auto;
      min-width: 60%;
      max-width: 80%;
      &__text {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        font-family: var(--neuebit);
      }

      &__face {
        background-color: #272727;
        display: block;
        position: relative;
        padding: 12px 24px;
        border-radius: 25px;
        color: white;
        font-family: var(--neuebit);
        border: 1px solid var(--btn-prymary-color);
        cursor: pointer;
      }

      &__items {
        background-color: #272727;
        border-radius: 0;
        border: 1px solid #00ff00;
        font-weight: 200;
        margin: 25px 0 0 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 100%;
        list-style: none;
        list-style-type: none;
        z-index: -1;
        text-align: center;
        transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
        color: white;
        text-align: left;
        font-family: var(--neuebit);
        &::before {
          content: "";
          background-color: transparent;
          position: absolute;
          bottom: 100%;
          right: 20%;
          height: 40px;
          width: 20px;
        }
        li {
          color: white;
          text-decoration: none;
          font-size: 1.8rem;
          padding: 20px 16px;
          cursor: pointer;
          &:hover {
            background-color: black;
          }
        }
      }
    }
  }

  .ticket-text {
    font-family: var(--neuebit);
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
  }

  .ticket-checkout-specs {
    .checkout-ticket-title {
      font-family: var(--display-ext);
      font-size: 2.5rem;
      font-weight: 400;
      color: #00ff00;
    }
  }
  .newsletter-form {
    .form-control {
      font-family: var(--neuebit);
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.1;
      display: grid;
      grid-template-columns: 1em auto;
      gap: 0.5em;
      background-color: transparent;
      border: none;
      color: #00ff00;
      padding: 20px 0;
    }
    .form-control + .form-control {
      margin-top: 1em;
    }

    .form-control--disabled {
      color: var(--form-control-disabled);
      cursor: not-allowed;
    }

    input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: black;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1em;
      height: 1em;
      border: 1px solid #00ff00;
      border-radius: 0;
      transform: translateY(-0.075em);
      display: grid;
      place-content: center;
      padding: 0;
    }

    input[type="checkbox"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #00ff00;
      /* Windows High Contrast Mode */
      background-color: #00ff00;
    }

    input[type="checkbox"]:checked::before {
      transform: scale(1);
    }

    input[type="checkbox"]:focus {
      outline: max(2px, 0.15em) solid currentColor;
      outline-offset: max(2px, 0.15em);
    }

    input[type="checkbox"]:disabled {
      --form-control-color: var(--form-control-disabled);
      color: var(--form-control-disabled);
      cursor: not-allowed;
    }
  }
}

.btn-mint {
  @include btn-transparent();
}

.btn-ticket {
  width: 100%;
  padding: 10px 16px;
  display: inline-block;
  border: 2px solid #00ff00;
  background-color: #00ff00;

  transition: all 0.3s;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: var(--neuebit);
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  * {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  &:hover {
    background-color: black;
    color: #00ff00;
    border: 2px solid #00ff00;
  }
}

.btn-ticket-working {
  width: 100%;
  padding: 10px 16px;
  display: inline-block;
  border: 2px solid #304b30;
  background-color: #304b30;
  transition: all 0.3s;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: var(--neuebit);
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  * {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
  }
}

.btn-connected {
  width: 100%;
  padding: 10px 16px;
  display: inline-block;
  background-color: black;
  vertical-align: middle;
  box-sizing: border-box;
  border: 2px solid #00ff00;

  transition: all 0.3s;

  font-family: var(--neuebit);
  color: #00ff00;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  * {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
  }
}

.btn-disabled {
  background-color: #7f7f7f;
  border: 2px solid #7f7f7f;
  cursor: not-allowed;
  &:hover {
    background-color: #7f7f7f;
    color: black;
    border: 2px solid #7f7f7f;
  }
}

.btn-mint-disabled {
  width: 100%;
  padding: 10px 16px;
  display: inline-block;
  background-color: #ff6666;

  transition: all 0.3s;
  vertical-align: middle;
  box-sizing: border-box;
  font-family: var(--neuebit);
  font-size: 1.6rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  * {
    margin: 0;
    box-sizing: border-box;
    transition: all 0.3s;
  }
}

.buy-button {
  h2 {
    font-family: var(--display);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 125%;
    color: #00ff00;
  }
  h5 {
    font-family: var(--neuebit);
    font-size: 2rem;
    color: #898989;
    font-weight: 700;
  }
  a {
    h5 {
      font-family: var(--neuebit);
      font-size: 1.6rem;
      color: white;
      font-weight: 400;
    }
    &:hover {
      text-decoration: underline;
      color: #00ff00;
    }
  }
  i {
    color: #00ff00;
    font-size: 1.5rem;
  }
  .account {
    font-family: var(--neuebit);
    font-weight: 700;
    font-size: 1.5rem;
    color: #00ff00;
  }
  .cta {
    font-family: var(--neuebit);
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1;
    color: #ff6666;
  }
  .label {
    font-family: var(--neuebit);
  }

  a {
    text-decoration: none;
  }
  p {
    color: white;
    font-family: var(--neuebit);
    font-size: 1.8rem;
    font-weight: 700;
  }
  .btn-mint {
    text-align: center;
    width: 100% !important;
  }
  .success-section {
    padding: 1rem 0;
    border-top: 4px dashed #898989;
    border-bottom: 4px dashed #898989;
    .cta-text {
      font-family: var(--display-ext);
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 125%;
      text-align: left;
      color: #898989;
      margin-left: 2rem;
    }
    .horse {
      height: 220px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.gap {
  width: 100%;
  height: 8.5rem;
}

.workingMessage {
  color: #00ff00;
  font-size: 1.6rem;
  font-family: var(--neuebit);
  i {
    margin-right: 1rem;
  }
}
.manage-tickets {
  .btn-mint {
    padding: 6px 16px;
  }
}

/* SLIDEDOWN */

.slide-enter-active {
  -webkit-animation: scale-up-ver-top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-ver-top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

.slide-leave-active {
  -webkit-animation: scale-down-ver-top 0.2s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-down-ver-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-down-ver-top {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-down-ver-top {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
